<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
  <body>
    <%- include('navigation', { page: 'note' }); -%>
    <div class="container">
      <div class="row">
        <h2 class="ms-3 mt-3">Note</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="card border-dark mb-3" style="max-width: 24rem">
            <div class="card-header bg-transparent border-dark">
              <div class="row">
                <div class="col-12">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-calendar-event"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"
                    />
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                    />
                  </svg>
                  <small><%= note.date %></small>
                </div>
              </div>
            </div>
            <div
              class="card-body text-secondary pt-0"
              style="transform: rotate(0)"
            >
              <p class="card-text">
                <a
                  href="/note/<%= note.id %>"
                  class="stretched-link read-more text-secondary"
                >
                  <div class="row">
                    <div class="col-12">
                      <small>Habitat: <%= note.habitat %></small>
                    </div>
                    <div class="col-12">
                      <small>Appearance: <%= note.appearance %></small>
                    </div>
                    <div class="col-12">
                      <small>Behavior: <%= note.behavior %></small>
                    </div>
                    <div class="col-12">
                      <small>Vocalisations: <%= note.vocalisations %></small>
                    </div>
                    <div class="col-12">
                      <small>Flock size: <%= note.flock_size %></small>
                    </div>
                    <div class="col-12">
                      <small
                        >Species: <%= note.species_name %> <% if
                        (note.species_name) { %>(<span class="fst-italic"
                          ><%= note.species_scientific_name %></span
                        >)<% }%></small
                      >
                    </div>
                    <div class="col-12">
                      <small>Created By: <%= note.email %></small>
                    </div>
                  </div>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
