<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/bootstrap')%>
    <link rel="stylesheet" href="/styles.css" />
    <title>Birding</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main class="container-fluid">
      <h2 class="text-center mt-4">Details of Sighting <%= data.id %></h2>
      <div>
        <h3 class="mt-4">Date of Sighting:</h3>
        <p><%= data.date.toISOString().slice(0,10) %></p>
      </div>
      <div>
        <h3>Time of Sighting</h3>
        <p><%= data.time %></p>
      </div>
      <div>
        <h3>Day of Sighting</h3>
        <p><%= data.day %></p>
      </div>
      <div>
        <h3>Flock Size</h3>
        <p><%= data.flocksize%></p>
      </div>
      <div>
        <h3>Species</h3>
        <p><%= data.species_id%></p>
      </div>
      <div>
        <h3>Behavior Observed</h3>
        <p><%= data.behavior%></p>
      </div>
      <div>
        <h3>User that created:</h3>
        <p><%= user.email%></p>
      </div>
    </main>
  </body>
</html>
