<%- include('header'); -%>
<body class="bg-dark">
  <div class="container ml-1">
  <br />
  <h1>Bird Sighting Details</h1>
  <br />
  <div class="text-white">
    <strong>ID:</strong><p><%= data.id %></p>
    <strong>Behavior:</strong><p><%= data.behavior %></p>
    <strong>Flock Size:</strong><p><%= data.flocksize %></p>
</div>
  <div class="d-flex flex-row">
    <a href="<%= data.id %>/edit">
      <input type="button" value="Edit Sighting" class="mr-1 btn btn-primary"/>
    </a>
    <form action="/note/<%= data.id %>/DELETE">
      <input type="submit" value="Delete" class="btn btn-primary"/>
    </form>
  </div>

  
</body>
</div>